%h1 #{@venue} within #{@city}


%section#reviews
  %ul
    - @reviews.each do |review|
      %li= link_to "Review #{review.id}", [@city, @venue, review]
  
  %p
    = link_to "Create Review", new_city_venue_review_path(@city, @venue)
    = link_to "Check In", new_city_venue_check_in_path(@city, @venue)


%nav#venue-admin
  = link_to 'Edit', [:edit, @city, @venue]
  \|

  - if @venue.active?
    = link_to 'Deactivate', [:deactivate, @city, @venue], :method => :post
  - else
    = link_to 'Activate', [:activate, @city, @venue], :method => :post

  \|
  = link_to 'Delete', [@city, @venue], :method => :delete, :confirm => "Are you sure you want to delete this venue?"
  \|
  = link_to 'Back', [@city, :venues]
