%h1 New Venue Suggestion

= form_for [@city, @venue_suggestion] do |f|
  .field
    = f.label :name, "Name"
    = f.text_field :name
  .field
    = f.label :address, "Address"
    = f.text_field :address

  .actions
    = f.submit 'Submit'
