%h1 Sign in

= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %p
    = f.label :email
    %br/
    = f.text_field :email
  %p
    = f.label :password
    %br/
    = f.password_field :password
  
  - if devise_mapping.rememberable?
    %p
      %label{:for => "user_remember_me"}
        = f.check_box :remember_me
        Remember Me

  %p= f.submit "Sign In"

= render :partial => "devise/shared/links"
