%p#notice= notice

%p
  %b Name:
  = @city.name
%p
  %b Active:
  = @city.active

%section#venues
  %ul
    - @venues.each do |venue|
      %li= link_to venue, [@city, venue]

  %p
    = link_to "Suggest a Venue", new_city_venue_suggestion_path(@city)
  %p
    = link_to "See All Venues", [@city, :venues]

%nav#city-admin
  = link_to 'Dashboard', [:dashboard, @city]
  \|
  = link_to 'Edit', [:edit, @city]
  \|

  - if @city.active?
    = link_to 'Deactivate', [:deactivate, @city], :method => :post
  - else
    = link_to 'Activate', [:activate, @city], :method => :post

  \|
  = link_to 'Delete', @city, :method => :delete, :confirm => "Are you sure you want to delete this city?"
  \|
  = link_to 'Back', cities_path
