= simple_form_for [@city, @venue, @review] do |f|
  = f.input :rating, :size => 2
  = f.input :wifi_rating, :size => 2, :label => "Wifi Rating"
  = f.input :wifi_notes, :label => "Wifi Notes"
  = f.input :ambiance_rating, :size => 2, :label => "Ambiance Rating"
  = f.input :ambiance_notes, :label => "Ambiance Notes"
  = f.input :table_availability_rating, :size => 2, :label => "Table Availability Rating"
  = f.input :table_availability_notes, :label => "Table Availability Notes"
  = f.input :notes
  = f.submit (f.object.new_record? ? "Create Review" : "Save Changes")
