%h1 Coworking Nomads

%nav
  %ul
    %li= link_to "home", root_path
    - if @city
      %li= link_to @city, @city
    %li= link_to "sign up", new_user_registration_path

    - if user_signed_in?
      %li= link_to "my account", edit_user_path(current_user)
      %li= link_to "sign out", destroy_user_session_path
    - else
      %li= link_to "sign in", new_user_session_path
      %li= link_to "sign in with facebook", "#"
